<h1>List of Events In Town</h1>

<p>Past Events</p>
<ul>
  <% Event.past.each do |event| %>
    <li>
      <a href="<%= event_path(event) %>">
        <%= event.name %>
      </a>
    </li>
  <% end %>
</ul>

<p>Upcoming events</p>
<ul>
  <% Event.upcoming.each do |event| %>
    <li>
      <a href="<%= event_path(event) %>">
        <%= event.name %>
      </a>
    </li>
  <% end %>
</ul>

<p>Bug: Hosts should not be able to attend own event.</p>
