<h1>List of Events In Town</h1>

<p>Past Events</p>
<ul>
  <% Event.past.each do |event| %>
    <li>
      <% if !(user_signed_in?) %>
        <i>Hidden Event</i>
      <% elsif event.attendees.include?(current_user) || event.creator_id == current_user.id %>
        <a href="<%= event_path(event) %>"><%= event.name %></a>
      <% else %>
        <i>Hidden Event</i>
      <% end %>
    </li>
  <% end %>
</ul>

<p>Upcoming events</p>
<ul>
  <% Event.upcoming.each do |event| %>
    <li>
       <% if !(user_signed_in?) %>
        <i>Hidden Event</i>
      <% elsif event.attendees.include?(current_user) || event.creator_id == current_user.id %>
        <a href="<%= event_path(event) %>"><%= event.name %></a>
      <% else %>
        <i>Hidden Event</i>
      <% end %>
    </li>
  <% end %>
</ul>
